.modalBackground {
    width: 40vw;
    height: 55vh;
    background-color: rgb(18, 17, 17);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modalContainer {
    width: 600px;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

  .modalContainer .title  h1 {
    text-transform: none;
  } 

  .modalContainer .title h1 {
    color: black;
    font-weight: bold;
 }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
     background-color: transparent;
     border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: black;
    font-weight: normal;
    text-transform: lowercase;
  }

  .modalContainer .body  p::first-letter {
    font-weight: normal;
    text-transform: uppercase;
  
    }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 90px;
    height: 50px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  